<div class="container-login100" style="background-image: url('/assets/bng.png');">
  <div class="wrap-login1000 p-l-55 p-r-55 p-t-65 p-b-54" style="background-color: #e0dbdb;">
<h1>New Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>
</div>
</div>